# Ignore node_modules folder
node_modules

# Ignore files related to API keys or cache
.env
Env
backend/__pycache__
backend/core/__pycache__
backend/core/star/__pycache__
backend/migrations/__pycache__
backend/variable_stars.db
backend/vsxdata.db
backend/dump.sql
data/vsxdata.csv
/build

#ignore virtual environment
backend/env